#optionsModal{
        position: fixed;
        z-index: 2500;
        top:50%;
        left: 50%;
        margin:0;
        transform: translate(-50%,-50%);

        @media only screen and (max-width: 670px){
            width:80%;
            margin:0 auto;
        };
    .optionsM--container--inner{
        background-color:#fafafa;
        border-radius:12px;
        height:auto;
        @media only screen and (min-width: 670px){
            width:400px;
        }
    }
    .optionsM--container--inner span{
        font-weight: 600;
        font-size:14px;
        padding:12px 8px;
        text-align:center;
        user-select:none;
        vertical-align:middle;
        border-bottom: 1px solid #dbdbdb;
        line-height:1.5;
        
        cursor:pointer;
        color:inherit;
        align-items:center;
        justify-content:center;
        overflow: hidden;
        &:active{
            background-color: rgb(217, 217, 217);
        }
    }
    .optionsM--container--inner > *:first-child{
        border-top-left-radius:12px;
        border-top-right-radius:12px;
    }
    .optionsM--container--inner > *:last-child{
        border: none;
        border-bottom-left-radius:12px;
        border-bottom-right-radius:12px;
    }
} 