#userNameStyle{
    position: relative;
    .user--mini--window{
        position: absolute;
        top:19px;
        left:0;
        width: 390px;
        min-height: 200px;
        background-color: var(--white);
        border-radius: 12px;
        z-index: 2000;
        display: block;
        box-shadow: 0 2px 16px 0 rgba(0,0,0,.2),0 0 0 1px rgba(219,219,219,1);
        -webkit-box-shadow: 0 2px 16px 0 rgba(0,0,0,.2),0 0 0 1px rgba(219,219,219,1);
        .mini--window--header{
            width: 100%;
            padding:16px;
            border-bottom: 1px solid var(--gray);
            border-bottom: 1px solid rgb(219, 219, 219);
            justify-content: flex-start;
            .mini--window--user{
                align-items:center;
                .MuiAvatar-root{
                    width: 56px;
                    height: 56px;
                    object-fit: contain;
                }
                .mini--window--info{
                    margin-left:10px;
                    font-size: 14px;
                    h5{
                        font-weight: 600;
                        
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-left:0;
                        line-height: 20px;
                        padding-left: 0;
                    }
                    h6{
                        font-weight: 400;
                        font-size: inherit;
                        color: var(--second--gray);
                    }
                }
            }
            .mini--window--bio{
                margin-left:4.5vw;
                p{
                    white-space: pre-line;
                }
            }
        }
        .mini--window--media--counters{
            align-items:center;
            justify-content: space-around;
            span{
                display: flex;
                flex-direction: column;
                margin: 16px 10px;
                align-items:center;
                justify-content: center;
                text-align:center;
                font-size: 14px;
                color:var(--second--gray);
                font-weight: 400;
                h5{
                    font-weight: 600;
                    color :var(--font-black);
                }
            }
        }
        .mini--window--actions{
            width: 100%;
            border-top:  1px solid var(--gray);
            border-top: 1px solid rgb(219, 219, 219);
            min-height: 50px;
            padding: 17px 20px;
        }
        
    }
}