#editProfile {
  padding-top: var(--desktop-padding-top);
  .edit--desktop {
    width: 100%;
    height: 100%;
    max-width:980px;
    margin:0 auto;
  }
  .right--side{
      align-items:center;
      padding:20px;
      min-height:80vh;
      @media only screen and (max-width:670px){
       padding:5px;
       width:100%;
       border-top: 1px solid var(--gray);
       min-height: 300px;
    }
    #feedback {
      padding: 30px 0 25px 0;
      width: 100%;
      overflow-y:auto;
      .feedback--section{
        width: 100%;
        align-items:center;
        padding: 20px 0;
        text-align:center;
        position: relative;
        h3{
          font-weight: 500;
          font-size: 22px;
        }
        p{
          font-size: 14px;
          font-weight: 400;
        }
        user-select:none;
        -webkit-user-select: none;
        .rating__edit__btn{
          border:none;
          background: var(--white);
          border-radius: 8px;
          border: 1px solid var(--white);
          color: var(--secondary-clr);
          cursor: pointer;
          &:focus{
            outline:none;
          }
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%, -50%);
          z-index: 100;
          padding:15px 25px;         
          svg{
            font-size: 30px;
          }
        }
        
        .form--btns{
         justify-content:center;
         margin-top:30px;
        }
        .rating--box{
          min-height: 65px;
        }
        #custom-css-standard-input{
            width: 100%;
            height: 150px;
            padding-top:30px;
            background-color: transparent;
        }
      }
    }
  }
  .edit--box {
    transition: background 0.3s linear;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 3px;
    margin: 30px auto 0;
    overflow: hidden;
    width: 100%;
    max-width: 935px;
    display: grid;
    grid-template-columns: 25% 75%;
    @media only screen and (max-width: 670px){
      grid-template-columns: 100%;
    }
  }
  .edit--box .left--side{
    position: relative;
    padding:0;
    margin: 0; 
    height: 100%;
    border-right: 1px solid var(--gray);
    min-height:80vh;
    @media only screen and (min-width: 670px){
      overflow-y: auto;
    }
    @media only screen and (max-width: 670px){
      width:100%;
      min-height:200px;
      margin-bottom: 20px;
    }
  }
  .active__menu__option{
    border-left: 2px solid var(--font-black) !important;
    font-weight:600;
    
  }
  .edit--box .left--bottom--side{
    position: absolute;
    bottom: 0;
    left:0;
    border-top: 1px solid var(--gray);
    padding: 25px 14px;
    justify-content: center;
    width:100;
    img{
      width:100%;
      object-fit: contain;
    }
    @media only screen and (max-width: 670px) {
        display:none;
    }
  }
  .edit--box .left--side li{
    font-size: 16px;
    padding: 19px 16px 16px 30px;
    line-height:18px;
    display:list-item;
    border: 2px solid transparent;
    text-transform: capitalize;
    cursor: pointer;
    text-align: -webkit-match-parent;
    &:hover{
      background-color: var(--light-gray);
      border-left: 2px solid var(--gray);
    }
    &:active{
      color: #b9b9b9 !important;
    }
  }
  .user__picture{
    cursor: pointer;
  }
  .option__font{
    font-weight: 700 !important;
    font-size: 14px !important;
    text-transform: capitalize;
  }
  .form--btns, .account--info--container .account--info--inner{
    margin-top:10px;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 90%;
    @media only screen and (max-width: 670px) {
      gap: 10px;
      width: 100%;
    }
  }
  .change__prof__pic{
      color: var(--secondary-clr);
      font-size:14px;
      padding: 4px 5px 4px 0px;
      text-align:left;
      cursor: pointer;
      display:inline;
      user-select:none;
      background-color: transparent;
      border:none;
      font-weight: 600;
      @media only screen and (max-width: 670px){
        display:block;
        width:100%;
      }
  }
  .edit--prof--form{
      margin: 20px 0;
        input[type='submit']{
            width:100px;
            margin-top:10px;
        }
  }
  .option--container{
    width: 85%;
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    @media only screen and (max-width: 670px){
      width:90%;
    }
    .account--info--box{
      margin-top: 10px;
      width: 100%;
      .account--info--text{
        display: block;
        color: var(--light-black);
        font-weight:300;
        margin-bottom: 4px;
        line-height: 20px;
        span{
          font-weight:600;
          margin-right:4px;
        }
        time{
          font-weight: inherit;
          font-size: inherit;
          color: inherit;
          text-transform: none;
        }
      }
    }
    @media only screen and (max-width:670px) {
      .account--info--container .account--info--inner{
        flex-direction: column !important;
      }
    }
  }
  .modal--btns{
    justify-content: flex-end;
  }
    .block--list--inner{
      padding:20px;
      .block__list__ul{
        width: 100%;
        padding:0;
        list-style: none;
        overflow-y: auto;
          .block__li{
            justify-content:space-between;
            align-items:center;
            .blocked--user--info{
              align-items:space-between;
            }
            
            margin-bottom:15px;
            .blocked__name{
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 2px;
            }
            .blocked__profile__name{
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 1px;
            }
          }
      }   
      .empty--block--list{
        h1 {
          font-size:17px;
          text-align:center;
          margin-top:20px;
          
        }
      }
  }
  #theme{
    padding-top:30px;
  }
}
