.EditDesktop{
    width:100%;
    height:100%;
}
.EditBox {
    background-color: #fff;
    border:1px solid rgb(219, 219, 219);
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    margin: 30px auto 0;
    overflow: hidden;
    width:100%;
    max-width: 935px;
    display: grid;
    grid-template-columns: 25% 75%;
}
.EditBox ul{
    height:100%;
    border-right: 1px solid #dbdbdb;
}
.ChangePhoto{
    margin: 32px 0px 0px;
    width:100%;
    align-items: stretch;
    padding:4px 0;
}

.EditMobile{

}