#editProfile .edit--desktop {
  width: 100%;
  height: 100%;
  max-width: 980px;
  margin: 0 auto;
}

#editProfile .right--side {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  min-height: 80vh;
}

@media only screen and (max-width: 670px) {
  #editProfile .right--side {
    padding: 5px;
    width: 100%;
    border-top: 1px solid var(--gray);
  }
}

#editProfile .edit--box {
  background-color: var(--white);
  border: 1px solid var(--gray);
  border: 1px solid var(--gray);
  border-radius: 3px;
  margin: 30px auto 0;
  overflow: hidden;
  width: 100%;
  max-width: 935px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 75%;
      grid-template-columns: 25% 75%;
}

@media only screen and (max-width: 670px) {
  #editProfile .edit--box {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

#editProfile .edit--box .left--side {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  border-right: 1px solid var(--gray);
}

@media only screen and (max-width: 670px) {
  #editProfile .edit--box .left--side {
    width: 100%;
    min-height: 250px;
  }
}

#editProfile .active__menu__option {
  border-left: 2px solid var(--font-black) !important;
  font-weight: 600;
}

#editProfile .edit--box .left--bottom--side {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--gray);
  padding: 25px 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100;
}

#editProfile .edit--box .left--bottom--side img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media only screen and (max-width: 670px) {
  #editProfile .edit--box .left--bottom--side {
    display: none;
  }
}

#editProfile .edit--box .left--side li {
  font-size: 16px;
  padding: 19px 16px 16px 30px;
  line-height: 18px;
  display: list-item;
  border: 2px solid transparent;
  text-transform: capitalize;
  cursor: pointer;
  text-align: -webkit-match-parent;
}

#editProfile .edit--box .left--side li:hover {
  background-color: var(--light-gray);
  border-left: 2px solid var(--gray);
}

#editProfile .edit--box .left--side li:active {
  color: #b9b9b9 !important;
}

#editProfile .change--photo {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0px 0px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 0;
}

#editProfile .user__picture {
  cursor: pointer;
}

#editProfile #fileUploader {
  display: none;
}

#editProfile .option__font {
  font-weight: 700 !important;
  font-size: 14px !important;
  text-transform: capitalize;
}

#editProfile .change--photo .MuiAvatar-circle {
  width: 50px;
  height: 50px;
}

#editProfile .user__prof__name {
  padding: 2px 2px 0;
  margin-bottom: 3px;
  font-size: 20px;
  color: var(--font-black);
  line-height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#editProfile .form--btns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#editProfile .change__prof__pic {
  color: var(--secondary-clr);
  font-size: 14px;
  padding: 0;
  text-align: left;
  cursor: pointer;
  display: inline;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: none;
  font-weight: 600;
}

@media only screen and (max-width: 670px) {
  #editProfile .change__prof__pic {
    display: block;
    width: 100%;
  }
}

#editProfile .edit--prof--form {
  margin: 20px 0;
}

#editProfile .edit--prof--form input[type='submit'] {
  width: 100px;
  margin-top: 10px;
}

#editProfile .option--container {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

@media only screen and (max-width: 670px) {
  #editProfile .option--container {
    width: 90%;
  }
}

#editProfile .user--info--container {
  background-color: green;
}

#editProfile .modal--btns {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#editProfile .block--list--inner {
  padding: 20px;
}

#editProfile .block--list--inner .block__list__ul {
  width: 100%;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

#editProfile .block--list--inner .block__list__ul .block__li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

#editProfile .block--list--inner .block__list__ul .block__li .blocked--user--info {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

#editProfile .block--list--inner .block__list__ul .block__li .blocked__name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 2px;
}

#editProfile .block--list--inner .block__list__ul .block__li .blocked__profile__name {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 1px;
}

#editProfile .block--list--inner .empty--block--list h1 {
  font-size: 17px;
  text-align: center;
  margin-top: 20px;
}
/*# sourceMappingURL=EditProfile.css.map */