#input--form--field{
        .form-group{
        width:90%;
        justify-content: space-between;
        @media only screen and (max-width: 670px){
            flex-direction: column !important;
        }
        label{
            margin: 10px 10px 0 0;
            font-size: 16px;
            font-weight: 600;
            line-height: 18px;
            text-transform: capitalize;
            text-align:left;
        }
        .form--input--side{
           position: relative;
           width: 80%; 
           @media only screen and (max-width: 670px){
               width: 100%;
           }
           .delete__input__icon{
               position: absolute;
               top: 50%;
               right:-0.5rem;
               z-index: 4;
               transform: translate(-50%, -50%);
               width: 30px;
               height: 30px;
               padding: 0.4rem;
               font-size: 25px;
               cursor: pointer;
           }
        }
        input, select{
        margin: 8px 0;
        min-width:100px;  
        width:100%;  
        border: 1px solid var(--gray);
        font-size: 16px;
        height: 32px;
        padding: 1px 10px;
        color: var(--font-black);
        border-radius: 3px;
        transition: border-color 0.2s linear;
            &:hover{
                border-color: #c4c4c4;
            }
            &:focus{
                outline: 2px solid var(--sugg-btn-clr);
            }
        }
        textarea{
        @extend input;
        width: 100%;
        resize: vertical;
        min-height: 70px;
        max-height: 150px;
        padding: 10px;
        }
        small{
            margin-top:6px; 
            font-size:12px;
            display:block;
            line-height: 14px;
            font-weight:400;
            color:var(--second--gray);
            white-space: wrap !important;
            max-width: 90%;

        }
        h2 {
            font-size:14px;
            font-weight: 600;
            color: var(--second--gray);
            margin-bottom: -2px;
          }
        ::placeholder{
            text-transform: capitalize;
            font-size:14px;
            color: var(--second--gray);
        }
    }
}