#suggestionsPage{
    .desktop-comp{
        margin:0 auto;
    }
    .suggestions--p--inner{
        width: 60%;
        margin: 5px auto;
        padding: 7px;
        h4{
            font-size:16px;
            font-weight:600;
            line-height:24px;
            display: block;
            width: 100%;
        }
      
        ul.suggestions--p--ul{
            padding:10px;
            margin:0;
            background-color: var(--white);
            width: 100%;
                .suggestion--item {
                    width: 100%;
                    padding:0;
                    margin:0;
                    padding:10px;
                    justify-content: space-between;
                    .side--user--info{
                        max-width: auto;
                        margin:0;
                        padding: 0;;
                    }
                }
                button:focus{
                    outline: none;
                }
        }
        @media only screen and (max-width: 670px){
            width: 100%;
            overflow-y:auto;
            h4, .online__title{
                padding-left:10px;
            }
        }
    }
    @media screen and (max-width:670px) {
        background-color: var(--white);
    }
}