/* ------------external imports--------------- */
    @import url("./fonts/fonts.css");
/* ------x------external imports------x--------- */
*{
    margin:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
html{
    /* scroll-behavior: smooth; */
    width:100%;
    -webkit-text-size-adjust: 100%;
    scroll-snap-type: y mandatory;
}
body{
    width:100%;
    margin:0;
    line-height:18px;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    color:var(--font-black);
    overflow-x: hidden;
}
ul{
    list-style:none;
}
/* ---------------Global classes-------------- */
.disabled{
    opacity:0.5;
    cursor:not-allowed !important;
}
body, button, input, textarea {
    color: #262626;
    color: rgb(38, 38, 38);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
:root{
    /* paddings */
    --desktop-padding-top: 30px;
    --desktop-padding-bottom: 30px;
    --padding-sides: 10vw;
    /* colors */
    --gray: #dbdbdb;
    --light-gray:#fafafa;
    --light-black: rgb(38, 38, 38);
    --second--gray:#8e8e8e;
    --secondary-clr:#0095f6;
    --font-black: #262626;
    --main-black: #363636;
    --main-border:  1px solid var(--gray);
    /* transitions */
    --mild-transition: all 0.2s ease;
    /* fonts */
    --instaFont: "instaLogo"
}
a:visited{
   color:#00376b;
}
.MuiAvatar-img{
    background-color: rgb(98, 98, 98);
    min-height: 14px;
}
.reels--ul{
    padding: 0 0 0 40px;
    margin: 0;
    align-items:center;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}
.reels--ul li{
    margin-right: 20px;
    margin-bottom: 10px;
}
#usersProfile  .reel--bubble{
    align-items:center;
    cursor:pointer;
    width: 80px;
    text-decoration: none;
    color: #262626;
    margin:0px 10px 20px;
}
#usersProfile  .reel--bubble .reel--upper--container{
    position: relative;
    width:77px;
    height:77px;
    text-align:center;
    justify-content: center;
    align-items:center;
}
#usersProfile  .reel--bubble .reel--upper--container .reel--upper--inner{
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:0;
    border: 1px solid rgb(199, 199, 199);
    text-align:center;
    align-items:center;
}
#usersProfile  .reel--bubble .reel--upper--container .reel--upper--inner .reels__icon, .add__new__reels__ico{
    position: absolute;
    margin: 0 auto 0 2px;
}
#usersProfile .reel--bubble .reel--upper--container .reel--upper--inner, #usersProfile  .reel--bubble .reel--upper--container .reel--upper--inner .reels__icon{
    width:100% !important;
    height:100% !important;
    border-radius: 50px;
}
#usersProfile svg.add__new__reels__ico{
    border-radius: 50px;
    width: 100%;
    color: rgb(73, 73, 73);
    font-size: 34px;
    font-weight: 800;
}
#usersProfile .reel--list--item{
    position: relative;
}
#usersProfile  .reel--bubble .reel--upper--container .reels--new .reel--upper--inner{
    border: 1px solid rgb(138, 138, 138) !important;
}
#usersProfile .reel--bubble span{
    font-weight:600;
    font-size:14px;
    white-space: nowrap;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    display:block;
    text-align:center;
    text-transform: capitalize;
}
/* #usersProfile .reels__icon:after{
    content:'';
    width:15px;
    height:3px;
    background-color:rgb(108, 29, 29);
    border-radius:50px;
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
} */
.liked__heart{
    color: rgb(237, 73, 86) !important;
}
.bottom--row--user-info span{
    font-size: 16px;
    line-height: 24px;
    white-space: pre-line;
    margin-bottom:4px;
    width:100%;
}
.flex-row{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display:flex;
    -webkit-box-align: stretch;
    -webkit-align-items:stretch;
    align-items:stretch;
    flex-shrink: 0;
    flex-direction: row;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
}
.flex-column{
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display:flex;
    flex-direction: column;
}
.app-container{
    padding: 10px 4vw;
}
.desktop-comp{
   padding:
    var(--desktop-padding-top)
    var(--padding-sides)
    var(--desktop-padding-bottom)
    var(--padding-sides);
    max-width:1350px;
    min-width: 85%;
    min-height: calc(100vh - 10px);
    height:100%;
}
.desktop-only{
    display:flex;
}
.acc-action{
    cursor:pointer;
}
.useModal--empty--users{
    justify-content:center;
    align-items:center;
    text-align:center;
    overflow: hidden;
}
.useModal--empty--users h3{
    font-size:14px;
    font-weight:600;
    margin: 15px 5px;
    line-height:24px;
}

.article__post{
    white-space:pre-line;
    word-break: break-word;
    font-size:normal;
    user-select: none;
    line-height:1.2;
}
.space__between{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.verified_icon{
    color: var(--secondary-clr);
    font-size:17px;
    margin-left:6px;
    margin-bottom:0;
}
.backdrop{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    z-index:1300;
    overflow-x: hidden;
}
.usersModal--container{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 2500;
    -webkit-box-flex: 1;
    width:400px;
    max-height:400px;
    min-height:200px;
}
.usersModal--inner{
    margin:20px;
    align-items:center;
    justify-content:center;
}
.usersModal--card{
    position: relative;
    height:100%;
    transform: translateY(-100vh);
    border-radius:12px;
    width:100%;
    transition: all 0.5s linear;
    background-color: #fff;
}
.userModal--card--header{
    text-align:center;
    height:43px;
    border-bottom: 1px solid #dbdbdb;
    justify-content:center;
    align-items:center;
}
.userModal--card--header h1{
    font-size:16px;
    font-weight:600;
    line-height:24px;
    -webkit-box-pack: center;
    flex-grow:1;
    text-transform: capitalize;
    vertical-align:baseline;
}
.userModal--card--body{
    width:99%;
    overflow-y:scroll;
    overflow-x: hidden;
}
.modal--user--item{
    padding:8px 16px;
    justify-content:space-between;
    align-items:center;
    flex:1;
}
.modal--user--item h3{
    font-weight:600;
}
.userModal__close{
    position: absolute;
    right:4%;
    top:0px;
    font-size:24px;
    font-weight:500;
    cursor:pointer;
    z-index:1600;
    padding:7px 11px;
}
.txt_follow, .txt_unfollow{
    font-size: 12px;
    font-weight:600;
    display:inline;
    background-color: transparent;
    border: none;
    line-height: 14px;
    cursor: pointer;
    padding: 4px 9px;
}
.txt_follow:active, .txt_unfollow:active{
    outline:none !important;
}
.txt_follow{
    color: var(--secondary-clr);
}
.txt_unfollow{
    color:var(--font-black);
}
.userModal__close:active{
    background-color: rgba(51, 102, 145, 0.1);
    border-radius: 5px;
}
.modal--item--inner{
    align-items:center;
}
.modal--user--info{
    margin-left:8px;
}
.modal--user--item .modal--user--info span{
    font-weight: 600;
}
.modal--user--item h3,.modal--user--item span{
    margin:0;
    font-size:14px;
    text-transform: none;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow:hidden;
    display: block;
    white-space:nowrap;
}
.modal--user--item span{
   
    font-weight:400px;
    color: var(--second--gray);
}
.modal--user--item .MuiAvatar-root{
    height: 34px;
    width: 34px;
}
/* -----x----------Global classes------x-------- */
.auth--main{
    width:100%;
    align-items:center;
    background-color: var(--light-gray);
    min-height:90vh;
}
time{
    text-transform: uppercase;
    font-size: 10px;
}
.auth--main .insta--warning{
    margin-top:8px;
    color: #737171;
    text-align:center;
}
.auth--inner{
    justify-content: center;
    align-items:center;
    gap: 0px;
}
#page {
    min-height: 57vh;
}
.auth--review--pic{
    padding:30px 0px 0px;
    width: 30%;
    min-width: 454px;
}
.auth--review--pic img{
    max-width:100%;
    min-height: 618px;
    object-fit: contain;
    display: block;
    user-select: none;
}
.auth{
    color:var(--main-black);
    font-size:14px;
    width:350px;
    margin-top:20px;
}
.auth .auth--upper--card, .auth .auth--bottom--card{
    background-color: #fff;
    border: 1px solid var(--gray);
    border-radius:4px;
}
.auth .auth--upper--card{
     padding:15px 20px 18px;
     margin-bottom:15px;
}
.auth .auth--bottom--card{
    padding:16px 20px;
    font-size:15px;
    justify-content: center;
    text-align:center;
}
.auth .auth--bottom--card span {
    margin:0 auto;
    font-weight:400;
    font-size:14px;
    flex-wrap: wrap;
    word-break: keep-all;
    display:flex;
    color:var(--font-black);
}
.MuiAvatar-root{
    object-fit: contain;
}
.auth--upper--card .auth--logo{
    align-items:center;
    margin: 0 auto;
}
.auth--upper--card .auth--logo img{
    margin: 22px 0 12px 8px ;
    width:175px;
    height:51px;
    object-fit:contain;
    cursor:pointer;
}
.auth--upper--card .auth--logo span svg{
    font-size:35px;
}
.auth--input--form{
    margin-top:17px;
    padding:0 20px;
}
.auth--input--form .forgot__pass{
    text-align:center;
    color:#0c8add;
    cursor:pointer;
}
.auth--input--form input[type="text"], .auth--input--form input[type="password"],.auth--input--form input[type="email"] {
    background-color:#fafafa;
    flex:1 0 auto;
    border: 1px solid rgb(199, 199, 199);
    font-size:13px;
    padding: 9px 0 7px 8px;
    border-radius: 3px;
    margin-bottom:7px;
}
.auth--input--form .back__Btn{
    background: linear-gradient(90deg,rgb(255, 81, 0), rgb(211, 42, 20));
    color:#fff;
    font-weight:600;
    margin:20px 0;
    border:none;
    padding:6px 10px;
    border-radius:5px;
    text-align:center;
    cursor:pointer;
    margin-bottom: 6px;
}
.auth--input--form input[type="submit"], .resetPassBtn,.auth--input--form button{
    background-color: var(--secondary-clr);
    color:#fff;
    font-weight:600;
    margin:20px 0;
    border:none;
    padding:6px 10px;
    border-radius:5px;
    text-align:center;
    cursor:pointer;
    min-height: 35px;
}
.loading__btn{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.auth--main .signIn--options--box{
    margin-top:9px;
}
.auth--main .divider--or{
    padding:8px;
    margin:10px 0 0;
    flex-wrap: nowrap;
}
.auth--main .divider--or .div__or__start, .auth--main .divider--or .div__or__end{
    background-color: #dbdbdb;
    background-color: rgb(219, 219, 219);
    height:1px;
    flex-grow: 1;
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    position: relative;
    top: .50em
}
.auth--main .divider--or .div__or__middle{
    margin: 0 17px;
    font-size: 13px;
    font-weight:600;
    line-height: 18px;
    text-transform: uppercase;
    color:var(--second--gray);
    color:rgb(142, 142, 142);
    flex-shrink:0;
    -webkit-box-flex: 0;
    -webkit-flex-grow:0;
    -webkit-flex-shrink: 0;
}
.auth--input--form input[type="submit"]:focus, .resetPassBtn:focus, .auth--input--form button{
    border:none;
}
.auth--input--form input[type="submit"]:hover{
    background-color:#1d8cd6;
}   
.auth--input--form input:focus{
    outline:none;
    border: 1px solid rgb(92, 92, 92);
}
.auth .auth--bottom--card span h6{
    font-weight:600;
    padding:0;
    color: var(--secondary-clr);
    margin-left:8px;
    cursor:pointer;
    transition: color 0.2s ease;
    font-size: 14px;
}
.auth .auth--bottom--card span h6:active{
   color:#0e60ad; 
}
.auth--signup--msg{
    text-align:center;
    padding: 0 20px;
    font-size:17px;
    color: var(--second--gray);
}
.auth .auth--bottom--card span h6:hover{
    text-decoration: underline;
}
.auth__get__app{
    text-align:center;
    padding:20px 0;
    margin-bottom: 0;
}
.auth--available--stores .auth--stores--inner{
    margin:0 auto;
}
.auth--available--stores .auth--stores--inner > img{
    width:136px;
    height:40px;
    margin-right:8px;
    cursor:pointer;
}
.auth--footer--container{
    width:100%;
    align-self: center;
    flex-wrap:wrap;
    margin:60px 3vw 35px 4vw;
    justify-content:space-between;
    max-width: 1150px;
}
.auth--footer--container span{
    color: var(--second--gray);
    font-size: 12px;
    font-weight: 600;
    margin-bottom:2px;
}

.auth--footer--ul {
    margin:0;
    padding:0;
    flex-wrap:wrap;
    list-style:none;
    align-items:center;
    /* width: 100%; */
}
.auth--footer--ul li{
    color:#00376b;
    font-size:12px;
    cursor:pointer;
    margin-right:10px;
    font-weight:400;
    text-transform: uppercase;
    transition: var(--mild-transition);
}
.auth--footer--ul li:active{
    color:#0e60ad;
}
.auth--footer--container  .auth--copyright, .auth--copyright--inner{
    text-align:center;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}
.auth--footer--container  .auth--copyright, .auth--copyright--inner select{
    background: transparent;
    /* padding:2px 8px; */
    border: none;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    padding:2px 6px 2px 7px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: auto;
}   
.auth--footer--container  .auth--copyright, .auth--copyright--inner .lang--selector{
    align-items: center;
    font-size: 13px;
    font-weight: 400;
    color: var(--second--gray);
    margin-right:9px;
}
.auth--footer--container  .auth--copyright, .auth--copyright--inner select:active{
    outline: none;
}

.auth--footer--container  .auth--copyright span{
    white-space: pre-wrap;
    word-break: break-word;
    font-size: 12px;
    font-weight: 400;
    color: var(--second--gray);
    line-height: 24px;
    pointer-events:none;
}
.auth--footer--ul li:hover{
    text-decoration:underline;
}

/*any weird behavior? comment this >>*/
article, div, footer, header, main, nav, section{ 
    -webkit-box-align:stretch;
    align-items:stretch;
    -webkit-box-orient: vartical;
    -webkit-box-direction:normal;
    display:flex;
    flex-direction:column;
    flex-shrink:0;
    padding:0;
    margin:0;
}
#main--footer {
    background-color: var(--light-gray);
    padding-bottom: 10px;
}
#userProfFooter.userProfile--footer .auth--footer--ul{
    justify-content:center;
    text-align:center;
    margin-bottom:7px;
}
button:active{
    outline:none;
}
.logoText{
    font-family:"instalogo";
    color: var(--main-black);
    margin-bottom:8px;
    width:103px;
    height:25px;
    font-size:31px;
    object-fit:auto;
    font-weight:600;
    text-decoration:none !important;

}
#header .logoText:active{
    color: gray;
    outline:none;
}
.auth--main .logoText{
    font-size:37px;
    margin-bottom:0;
    margin-left:4px;
    height:auto;
}
.app__titles{
    color:#00376b;
    text-transform: capitalize;
    font-size:19px;
    font-weight:bold;
    text-align:center;
    margin:15px 0;
}
.liked__double__click{
    opacity:0.9;
    color: rgb(255,255,255);
    font-size: 80px;
    margin:0;
    padding:0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:100;
    filter: drop-shadow(rgb(0,0,0) 0px 0px 10px);
}
.liked__double__click__layout{
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.07);
    z-index: 33;
}
.liked__double__click__layout, .liked__double__click{
    position:absolute;
    transition: all 0.4s ease;
}
.global__loading{
    padding: 0;
    margin:0;
    position: fixed;
    top:0;
    left:0;
    height:3px;
    z-index:1000;
    width: 100%;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: fakeLoading 0.6s ease-out ; 
    animation-iteration-count:2;
}
.post--comment--row{
    padding:2px 0;
    justify-content:space-between;
    align-items:center;
}
.post--comment--row .comment__user__avatar{
    width:32px !important;
    height: 32px;
    margin-right: 10px;
}
.post--comment--actions{
    align-items:center;
    white-space:nowrap;
    flex-wrap: nowrap;
    padding:3px 0 8px 40px;
    max-width:200px;
}

.sub--comments--nav{
    list-style:none;
    padding-top:8px;
}
.sub--comments--nav li{
    margin-bottom:3px;
}
.post__view__replies__btn,
.post--comment--actions span{
    font-size:12px !important;
    color:var(--second--gray);
    line-height:14px;
    font-weight:600;
}
.post--comment--actions span{
    padding:2px 3px;
}
.post--comment--actions .acc-action{
    margin:0 5px 0px;
}
.long__dash{
    border-bottom: 1px solid var(--second--gray);
    width: 24px;
    margin-right: 8px;
    display: inline-block;
    height: 0;
}
.post__top__comment strong, .sub--comments--nav li strong{
    font-weight:600;
    text-overflow: ellipsis;
    margin-right:5px;
    white-space:nowrap;
    max-width:80%;
    cursor: pointer;
    display:inline;
}
.post__top__comment p, .sub--comments--nav li span{
    margin:0;
    font-size: 14px;
    text-overflow: ellipsis;
}
.post__view__replies__btn{
    cursor:pointer;
    padding:2px 4px 0px 40px;
}
.post__card__content{
    cursor:pointer;
    width:100%;
    height:100%;
    object-fit: fill;
    min-width: 100%;
}
/*-------------Messages-----------*/
.messages--container{
    height:100%;
}
#messages.messages--container .messages--desktop--card{
    border: 1px solid var(--gray);
    background-color: #fff;
    min-height:85vh;
    height: 100%;
    position: relative;
}
#usersProfile.users--profile--container .profile--user--info{
    padding: 0 16px 21px;
    margin-top:5px;
    width: 100%;
}
#messages.messages--container .messages--side, #messages.messages--container .messages--users--side{
        height:100%;
        vertical-align: baseline;
        align-items: stretch;
        -webkit-box-orient: vertical;
        -webkit-box-direction:normal;
        position:absolute;
        
}
#messages.messages--container .messages--chatlog--container{
    height:100%;
    position: relative;
}
#messages.messages--container .messages--users--side{
    flex-basis: 35%;
    left:0;
    top:0;
    width:35%;
    border-right: var(--main-border);
}
#messages.messages--container .mobile--users--sidedrawer #messagesUL{
    max-height:75%;
    overflow-y: auto;
}
#messages.messages--container .messages--side{
    flex-basis: 65%;
    width:65%;
    left:35%;
    top:0;    
}
#messages.messages--container .users--side--header{
    width:100%;
    padding:0px 19px;
    justify-content: flex-end;
    align-items:center;
    height:60px;
    border-bottom: var(--main-border);
    z-index:40;
}
#messages.messages--container .users--side--header span{
    margin: 0 auto;
    overflow: hidden;
    padding:1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
    align-items:center;
}
#messages.messages--container .users--side--header span h4{
    flex:1;
    font-size: 16px;
    font-weight:600;
    text-align:center;
    margin:0;
}
#messages.messages--container .users--side--header span .pen__logo{
    padding:0;
    margin-bottom:0;
    font-size:22px;
}   
.messages--top--nav{
    width:100%;
    height: 40px;
    padding:0px 12px;
    border-bottom: var(--main-border);
    overflow:hidden;
}
.messages--top--nav div{
    width:60%;
    align-items:center;
}
.messages--top--nav div h5{
    text-transform: uppercase;
    font-size:16px;
    font-weight:600;
    margin:0;
    cursor:pointer;
}
.messages--top--nav div h5:nth-child(1){
    padding:9px 0px;
    border-bottom: 1px solid black;
    margin-right:10px;
    z-index:200;
}
.messages--top--nav div h5:nth-child(2){
    color: var(--gray);
}
.messages--view--users{
    padding:8px 0px;
    overflow-y:auto;
}
.messages--view--users ul{
    padding:0;
    margin:0;
}
.messages--view--users ul li{
    padding:8px 20px;
    overflow-x:hidden;
    text-overflow:ellipsis;
    width:100%;
}
.messages--view--users ul li div > p{
    margin:0;
}
#messages .messages--view--users ul li .messages--user--info{
    width:100%;
    margin-left:5px;
    align-items:center;
}
.my-empty--posts--container{
    width:100%;
    flex-wrap: wrap;
    background-color: #fff;
    padding:0;
    margin-top: 40px;
}
.my-empty--posts--img{
    flex-basis: 40%;
}
.my-empty--posts--text--container{
    flex-basis:60%;
    align-items:center;
    justify-content:center;
    text-align:center;
    min-height: 300px;
}
.my-empty--posts--text--container h2{
    font-size: 18px;
    font-weight: 600;
}
.my-empty--posts--text--container h3{
    font-size: 16px;
    font-weight: 500;
    margin-top:10px;
}
.my-empty--posts--img img{
    width:100%;
    min-height: 100%;
    object-fit: contain;
}
.my--empty--posts--get--app{
    width:100%;
    flex-wrap: wrap;
    justify-content:center;
    margin-top:10px;
}
.my--empty--posts--get--app img{
    margin-right: 9px;
    height:40px;
    width:136px;
    cursor: pointer;
}

#messages .messages--view--users ul li .messages--user--info div{
    flex:1;
    margin-right:6px;
    font-weight:400;
    font-size:14px;
    line-height: 18px;
}
#messages .messages--user .MuiAvatar-root{
    height: 50px;
    width: 50px;
}
.messages--user--info div span.last__message{
    color: var(--second--gray);
    margin-top:2px;
}
.mobile-only{
    display:none ;
}
#messages .messages--user{
    cursor:pointer;
}
#messages .messages--user:hover{
    
    background-color:rgba(225,225,225,0.2);
}   
#messages .messages--empty--container{
    justify-content: center;
    align-items: center;
    height:100%;
}
#messages .messages--side--inner{
    width:70%;
    text-align:center;
    align-items:center;
    margin:0 auto;
}
#messages .messages--side--inner h3{
    display:block;
    font-size:22px;
    font-weight:400;
    margin:32px 0 -3px 0;
    line-height:28px;
}
#messages .messages--side--inner p{
    line-height:18px;
    font-weight:400;
    font-size:14px;
    color: var(--second--gray);
    margin:16px 0px 32px 0px;
}
#messages .messages__send__logo{
    font-size:70px;
    padding:15px;
    border:2px solid black;
    border-radius:50%;
    z-index: 50;
}
 
#messages .messages--side--inner button{
    background-color:#0095f6;
    padding:5px 9px;
    display:block;
    text-align:center;
    text-overflow:ellipsis;
    font-size:14px;
    font-weight:600;
    text-transform: capitalize;
    text-transform: inherit;
    line-height:18px;
    border-radius:4px;
    color: #fff;
    border:none;
    transition: var(--mild-transition);
}
#messages .messages--side--inner button:hover{
    background-color: #0d7ac4;
}
#messages .messages--side--inner button:active{
    transform: scale(0.98);
    outline: 1px solid #fff;
}
/* chat log */
.sender, .receiver{
    min-height:44px;
    padding: 16px;
    -webkit-box-align: stretch;
    max-width: 236px;
    min-height:44px;
    margin-bottom:8px;
    z-index:3px;
    overflow: hidden;
    justify-items:center;
    border-radius:22px;
}
.sender{
    float: right;
    background-color: #efefef;
    margin-left:auto;
    border: 1px solid #efefef;
}
.receiver{
    background: transparent;
    border: 1px solid #efefef;
    border: 1px solid rgb(239, 239, 239);
}
.message--outer{
    touch-action:manipulation;
    width:100%;
}
.messages--user{
    background-color: #fff;
}
.message--text{
    word-break: break-word;
    white-space:normal;
    font-size:14px;
    line-height:18px;
    font-weight:400;
    margin: -3px 0 -4px;
    text-transform: none;
}
.active-msg{
    background-color: #efefef !important;
}
.messages--chatbox--header{
    padding: 9px 15px;
    align-items:center;
    width:100%;
    height:60px;
    border-bottom: var(--main-border);
    white-space:nowrap;
}
.messages--chatbox--header .MuiAvatar-root{
    width:30px;
    height:30px;
}   
.mobile--users--sidedrawer .messages--chatbox--body{
    height:85%;
}
#messages.messages--container .messages--chatbox--body{
    padding:44px 20px 0;
    height:70%;
    overflow: auto;
}

#messages.messages--container .messages--user--info {
    width:90%;
    align-items:center;
}
.react-confirm-alert-button-group{
    flex-direction: row;
    margin-top: 10px;
}
#messages.messages--container .messages--user--info p{
    flex:1;
    margin-left: 9px;
    margin-bottom:0;
    font-size:16px;
    font-weight:600;
}
#messages.messages--container .messages--user--info div{
    flex:0;
    font-size: 24px;
}
#usersProfile .sugg__btn{
    padding:0 12px !important;
    font-size: 20px !important;
}
#usersProfile .sugg__btn:focus{
    outline: 0 !important;
}
#usersProfile .suggestions--list--container{
    width:auto;
    -webkit-box-align: stretch;
    justify-content:flex-start;
    overflow-x: auto;
    gap:10px;
    flex-wrap: nowrap;
    padding:0 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#usersProfile .suggestion--items{
    width:100%;
    padding-left:10px;
    flex-wrap:nowrap;
}
#usersProfile .suggestions--list--container ::-webkit-scrollbar, #usersProfile .suggestion--items ::-webkit-scrollbar{
    width:0px;
    display:none;

}
#usersProfile .suggest--item--container{
    max-width: 100%;
    overflow-x: auto;
}
#usersProfile .suggestion--item{
    padding:20px;
    position: relative;
    border: 1px solid var(--gray);
    background-color: #fff;
    margin-right: 18px;
    /* min-width:200px; */
    width: 180px;
    height:auto;
    max-height: 200px;
    align-items:center;
    justify-content: center;
    text-align:center;
}
#usersProfile .acc__name, #usersProfile .user__name{
    font-weight:600;
    font-size:14px;
    white-space:nowrap;
    text-overflow:ellipsis;
}
#usersProfile .user__name{
    color: var(--second--gray);
    margin:  0;
    padding: 6px 0;
}
#usersProfile .suggestion--item-inner .MuiAvatar-root{
    width:50px !important;
    height:50px !important;
    margin:0 auto;
}
#usersProfile .user__sugg__title__title{
    color: var(--second--gray);
    flex: 1 auto;
}
#usersProfile .users--suggestions--container{
    border: 1px solid var(--gray);
    background-color: #fff;
    overflow: hidden;
    padding:4px 0;
    position: relative;
    border-radius: 4px;
    margin-bottom:20px;
    margin-top: 16px;
    width: 100%;
}
#usersProfile .user--sugg--header{
    padding:10px 20px;
    width:100%;
}
.user__see__all__btn{
    color: #0095f6;
    display:block;
    font-size:14px;
    font-weight:600;
    text-transform: capitalize;
}
#usersProfile .profile--more--btn{
    padding: 9px 7px;
    border-radius:50px;
    cursor: pointer;
    text-align:center;
}
#usersProfile .profile--more--btn svg{
    font-size:24px;
    fill:rgb(38, 38, 38);
}
#usersProfile .profile--more--btn:active{
    background-color: rgba(0,0,0,0.05);
}
#messages.messages--container .chat--emojis--box{
    width:100%;
    position: absolute;
    bottom:68px;
    padding:6px 20px;
    left:0;
    border: var(--main-border);
    border-radius:22px;
    align-items:center;
    justify-content:center;
    background: linear-gradient(90deg, rgba(255, 123, 0,0.3), rgba(236, 57, 13,0.3));
    z-index: 1200;
    flex-wrap:nowrap;
    white-space:nowrap;
    overflow-x: auto;
}
#messages.messages--container .chat--emojis--box::-webkit-scrollbar{
    width:0;
}
#messages.messages--container .chat--emojis--box span{
    padding: 1px 6px;
    margin-right:5px;
    font-size:22px;
    cursor:pointer;
}
#messages .desktop-comp{
    padding-top:9px;
}
#messages.messages--container .messages--bottom--form{
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    padding:20px;
    align-items:center;
    background-color:#fff;
    z-index: 1100;
}
#messages.messages--container .messages--bottom--form form{
    width:100%;
    border: var(--main-border);
    border-radius: 22px;
    /* min-height:44px; */
    padding:3px 8px 3px 11px;
    z-index:90;
    align-items:center;
}
#messages.messages--container .messages--bottom--form form:hover{
    box-shadow: 0px 2px 10px rgba(26, 25, 25, 0.1);
}
#messages.messages--container .messages--bottom--form .message__input{
    border:none;
    padding:10px 9px;
    flex:1;
}
#messages.messages--container .messages--bottom--form .message__input:focus{
    outline:none;
}
#messages.messages--container .messages--bottom--form input[type="submit"]{
    border:none;
    background-color: transparent;
    color:var(--secondary-clr);
    font-size:14px;
    font-weight:600;
    cursor:pointer;
}
#messages.messages--container .messages--bottom--form .smiley__icon{
    font-size:21px;
}
/*------x---------Messages------x------*/
/* ----------user's profile----------- */
#usersProfile.users--profile--container, .messages--container {
    background-color: var(--light-gray);
    user-select: none;
}
#usersProfile.users--profile--container .desktop-comp{
    padding-top: 30px;
}
#usersProfile.users--profile--container .user--pic--container{
    flex-basis:30%;
    align-items:center;
    position: relative;
}
#usersProfile.users--profile--container .desktop--inner--info{
    width:100%;
    margin:0;
    flex-basis:70%;
}
.profile__btn{
    text-align:center;
    font-size:14px;
    font-weight:600;
    line-height:28px;
    outline:0;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
    text-transform: capitalize;
    appearance:none;
    word-wrap: keep-all;
    white-space: nowrap;
}
.profile__btn:active{
    outline: none !important;
}
.prof__btn__followed{
    border-radius:3px;
    border:1px solid #0095f6;
    background-color:#0095f6;
    /* background-color:#63baf4; */
    padding:0 24px;
    color:#fff;
}
.prof__btn__followed svg{
    width: 12px;
    height: 12px;
}
.prof__btn__followed:active{
    color:rgb(224, 224, 224);
}
.prof__btn__unfollowed{
    border-radius:4px;
    border:1px solid #dbdbdb;
    padding:0px 9px;
    background-color: transparent;
    color:#262626;
}
a.prof__btn__unfollowed{
    color:#262626;
}
.prof__btn__unfollowed:hover{
    text-decoration: none;
}
.prof__btn__unfollowed a {
    color:#262626;
    text-decoration: none;
}
.prof__btn__unfollowed:active{
    color:#424242 !important;
}
#usersProfile.users--profile--container .users__profile__image{
    width:100%;
    object-fit:cover;
    cursor:pointer;
    height: 290px;
    margin:0 auto;
    padding:0;
    min-height:100%;
    background-color: #efefef;
}
#usersProfile .user--img--container{
    position: relative;
}
#usersProfile .user--img--container:hover .user--img--cover{
    display:flex;
}
#usersProfile .user--img--cover{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
    justify-content:center;
    align-items:center;
    text-align:center;
    color: #fff;
    font-size: 21px;
    cursor:pointer;
    display:none;
    transition: all 0.5 ease-in;
}
#usersProfile.users--profile--container .user--top--info{
    width:100%;
    padding:10px 0 44px;
    align-items:center;
    justify-content:space-between;
    min-height: 220px;
}
#usersProfile .similar__followers{
 padding-left: 0;
 color: var(--second--gray);
 color: rgb(142, 142, 142);
 font-size: 12px;
 display: block;
 line-height: 14px;
 margin-top: 14px;
 font-weight: 500;
 cursor: pointer;
}
#usersProfile .similar__followers__item{
    margin:0 0 5px 0;
    font-size: inherit; 
    font-weight: inherit;
    color:#262626;   
    cursor: pointer;
}
#usersProfile .similar__followers__item:hover{
    text-decoration: underline;
}
#usersProfile .similar__followers__item::after{
    content: ",";
    color: rgb(142, 142, 142);
}
#usersProfile .similar__followers__item:last-of-type::after{
    content: "";
    display: none;
}
#usersProfile .activity--container .online__user{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: linear-gradient(rgba(111, 201, 111, 1), rgba(37, 224, 37, 1) ) ;
    border:1px solid #fff;
    display: inline-block;
    margin-left: 5px;
}
.activity--container{
    margin-bottom: 10px;
}
.activity--container small{
    font-size: 14px !important;
    color: var(--second--gray);
    font-weight: 400;
    text-transform: none ;
    line-height: 14px;
}
.activity--container small time{
    text-transform: inherit !important;
    font-size: inherit;
    font-weight: inherit;
}
.activity--container .online--status{
    align-items:center;
}
.user-top-inner{
    margin:0 auto;
    flex-wrap: wrap;
    width:80%;
}
#usersProfile.users--profile--container .desktop--social--row p{
    padding:2px 6px 2px 0px;
    margin-right:30px;
    font-weight:400;
}
#usersProfile.users--profile--container .desktop--social--row p span{
    font-weight:800;
}
#usersProfile.users--profile--container .MuiAvatar-root{
    width:120px;
    height: 120px;
}
#usersProfile.users--profile--container .users--profile--stripe{
    width:100%;
    padding:0;
    border-top: 1px solid var(--gray);
    justify-content:center;
}
#usersProfile.users--profile--container .users--profile--posts{
    -webkit-display: grid;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
}
.users--profile--rowLine{
    align-items:center;
    margin:0 auto;
    gap:10px;
}
.users--profile--stripe .profile--stripe--inner{
    margin:0 auto;
    justify-content: space-between;
    max-width:350px;
}
.users--profile--stripe .profile--stripe--inner span{
    font-size:30px;
    padding:7px;
    margin-right:10px;
}
.noti__bar__img{
    width:40px;
    height:40px;
}
#usersProfile.users--profile--container .users--action--row{
    max-width:450px;
    flex-wrap:nowrap;
    
}
#usersProfile.users--profile--container .profile__display__name{
    font-size:28px;
    line-height:32px;
    white-space:nowrap;
    word-break: keep-all;
    text-align:left;
    text-overflow: ellipsis;
    overflow:hidden;
    max-width: 210px;
}
#usersProfile.users--profile--container .desktop--social--row p span{
    font-weight:600;
}

#usersProfile.users--profile--container .users--action--row,
#usersProfile.users--profile--container .desktop--social--row p{
    align-items:center;
    justify-content:space-between;
    font-size:16px;
}
#usersProfile.users--profile--container .users--action--row div,
#usersProfile.users--profile--container .users--action--row h5{
    flex-basis:48%;
    margin-bottom:19px;
}
#usersProfile.users--profile--container .users--action--row div > button{
    margin-right: 15px;
}
#usersProfile.users--profile--container .users--action--row div > button:last-of-type{
    margin-right:0;
}
/* ------------bound heart on double click effect---------------- */
@keyframes boundHeartOnDouble {
    0%{
        transform: translate(-50%,-50%) scale(0.5);
    }
    50%{
        transform: translate(-50%,-50%) scale(1.4);
    }
    100%{
        transform: translate(-50%,-50%) scale(1);
    }
}
/* --------x---------bound heart on double click effect-----------x---------- */
/* ---x-------user's profile----x------- */
/* ---------------Mobile Notifications------------------ */
#mobNotifications.mob--notifications{
    padding:10px 10px 50px;
    overflow:hidden auto;
}
.mob--notifications--container{
    width:100%;
}
#mobNotifications.mob--notifications .noti--popup-item{
    padding:12px 0 13px;
    position:static;
}
#mobNotifications.mob--notifications .noti--popup-item:hover{
    background-color:var(--light-gray);
}   
#mobNotifications.mob--notifications .noti--popup-item .noti--user--info{
    width:70%;
}
#mobNotifications.mob--notifications .noti--popup-item .noti--user--info h6{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
 }
.mob--notifications{
 height:calc(100vh - 50px);
}
.mob--notifications--container{
    padding-top:0px;
}
.mob--notifications--container .mob--noti--title{
    padding:2px 10px;
    text-overflow:ellipsis;
    border-bottom: 1px solid rgb(236, 236, 236);
    width:100%;
    background-color: #fcfcfc;
    position: sticky;
    top:0;
    left:0;
    z-index: 1000;
}
.mob--notifications--container .mob--noti--title h4{
    font-size:16px;
    font-weight: 700;
}

#mobNotifications.mob--notifications .noti--popup-item .noti--user--info p.noti__text{
    width:90% !important;
    word-break: break-word;
    display:inline-block;
}
#mobNotifications.mob--notifications .noti--popup-item .noti--row{
    width:80%;
}
/* ------x---------Mobile Notifications------x------------ */
/* -------------------Comments Modal----------------------- */
#commentsModal.comments--modal--container{
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:1600;
    margin:0;
    padding:0;
    background-color:#fff;
    border-radius:12px;
}
#commentsModal.comments--modal--container .comments--modal--card{
    position: relative;
    z-index:1800;
    padding: 0;
    min-height:200px;
    width:400px;
    height: 400px;
    transition: all 0.5s linear;
}

#commentsModal.comments--modal--container .comments--modal--card .comments--modal--inner{
    height: 340px;
    overflow:hidden auto;
}
#commentsModal.comments--modal--container .post--comment--item{
    padding:1px 8px;
}
#commentsModal.comments--modal--container .comments--modal--header{
    position: relative;
    padding:4px 10px;
    background-color: rgb(252, 252, 252);
    border-bottom: 1px solid rgb(228, 228, 228);
    border-radius:12px;
}
#commentsModal.comments--modal--container .comments__close__modal{
    position: absolute;
    top:4px;
    right:15px;
    font-size:29px;
    font-weight: 800;
    cursor:pointer;
}
#commentsModal.comments--modal--container .comments--modal--header h4{
    text-align:center;
    font-size:15px;
    font-weight:700;
}
#commentsModal.comments--modal--container .comments--modal--card .post--bottom--comment--adding{
    position: fixed;
    bottom:0px;
    left:0;
    width:99%;
    margin:0;
    background-color:#fff !important;
}
/* --------x-------------Comments Modal------------x---------- */
/* ---------------------Empty page------------------ */
.empty--posts--container{
    padding:4px 8px;
    height: 450px;
    width:100%;
   
}
.plus--icon--container, .empty--posts--container{
     justify-content: center;
    align-items:center;
    text-align:center;
}
.empty--posts--container span{
    color: var(--secondary-clr);
    font-weight: 600;
    word-break: break-word;
    font-size:15px;
}
.empty--posts--container h3{
    font-weight:400px;
    padding:12px 0;
}
.empty--posts--container p{
    color: var(--second--gray);
    font-size:15px;
    line-height: 20px;

}
.empty--posts--container p:hover{
    text-decoration: underline;
}
.empty--posts--container .plus--icon--container{
    border: 2px solid var(--main-black);
    border-radius:50%;
    /* padding:7px; */
    color:var(--main-black);
    width:70px;
    height:70px;
    margin:0 auto;
}
.empty--posts--container .plus--icon--container .plus__icon{
    font-size: 30px;
}
.prof--acc--website a{
    font-size: 16px; 
    font-weight: 600;
    color:#00376B;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration:none;
    display: inline;
}
.prof--acc--name h1{
    display: inline;
    color: #262626;
    color: rgb(17, 17, 17);
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    word-break: break-word;
    margin-bottom: 0px;
}
.prof--acc--name br, .prof--acc--category br{
    content: "";
    word-break: break-word;
    font-size: 16px;
}
.prof--acc--category span {
    color: var(--second--gray);
    color: rgb(142, 142, 142);
    line-height:20px;
    font-size: 16px;
    /* font-weight:400; */
    margin-bottom: 2px;
}

/* -------x------------Empty page--------x-------- */
/* -----------Query less than or equal 250px------------ */
@media only screen and (max-width: 250px){
    #usersProfile.users--profile--container .users--profile--posts{
        grid-template-columns: 1fr !important;
        gap:18px;
    }
    #messages.messages--container .messages--desktop--card{
        border:none;
    }
    .auth--stores--inner{
        flex-direction:column !important;
    }
    .auth--footer--ul {
        grid-template-columns: 1fr !important;
        gap: 2vw;
    }
    .auth--copyright span{
        font-size:11px !important;
    }
    .user-top-inner{
        flex-direction: column;
    }
}
/* ------x-----Query less than or equal 250px-----x------- */
/* -----------Query less than or equal 670px------------ */

@media only screen and (max-width: 670px){
    :root{
        --padding-sides: 4vw;
    }
    .auth{
        width:85%;
    }
    .auth .auth--upper--card{
        padding:15px 15px 18px;
    }
    #usersProfile.users--profile--container .users--action--row,
    #usersProfile.users--profile--container .desktop--social--row p{
        align-items: baseline;
    }
    #usersProfile.users--profile--container .profile__display__name{
        font-size:25px;
    }
    #usersProfile .reel--bubble{
        width: 60px;
        margin:0px 10px 10px;
    }
    #usersProfile .reel--bubble .reels__icon{
        width: 40px;
        height: 40px;
    }
    .my-empty--posts--container{
        margin-top: 0;
        flex-direction: column-reverse !important;
    }
    .my-empty--posts--img, .my-empty--posts--text--container{
        flex-basis: 100%;
    }
    .my-empty--posts--img img{
        min-height: 250px;
    }
    #usersProfile.users--profile--container .MuiAvatar-root{
        width:77px;
        height:77px;
    }
    #usersProfile .reels__icon{
        width: 56px;
        height:56px;
    }
    #page {
        min-height:95vh;
        margin-bottom: 50px;
    }
    .prof--acc--category span {
        font-size: 14px;
    }
    .user-top-inner{
        width:100%;
    }
    .mobile-only{
        display:block;
    }
    .auth--footer--container{
        margin:80px 2vw 20px 2vw;
    }
    .auth .auth--bottom--card span {
        font-size:14px;
        font-weight:400;
    }
    .auth--footer--container{
        width:70%;
        margin-right:auto;
        margin-left:auto;
    }
    #usersProfile.users--profile--container .users--action--row{
        flex-direction: column !important;
    }
    .auth--footer--container .auth--copyright{
        margin-top:25px;
    }
    #usersProfile.users--profile--container .profile--posts--container{
        padding:1px;
    }
    .auth--input--form{
        padding:0;
    }
    .auth--input--form input[type="text"], .auth--input--form input[type="password"],.auth--input--form input[type="email"], .auth--input--form input[type="submit"] {
        width: 100%;
    }
    #usersProfile.users--profile--container .users--profile--posts{
        gap:2px !important;
    }
    #usersProfile .similar__followers{
        font-size: 13px;
        font-weight: 600;
    }
    .desktop-only{
        display:none;
    }
    .post--comment--actions,
    .post__view__replies__btn,
    .sub--comments--nav
    {
        padding-left:25px;
    }
    #messages.messages--container{
        background-color:#fff;
    }
    #messages.messages--container .messages--desktop--card{
        min-height:100%;
        flex-direction: column;
        flex-wrap: wrap;
        height:100vh;
    }
    #messages.messages--container .messages--users--side, #messages.messages--container .messages--side{
        flex-basis: 100%;
        width:100%;
        left:0;
        position: static !important;
        margin-bottom: 50px;
    }
    .mobile--msgs--menu{
        position:fixed;
        right: 19px;
        top:10px;
        font-size:27px;
        cursor:pointer;
        opacity: 0.8;
        z-index:1900;
        padding:7px;
        border-radius:50%;
        background-color:#fff;
    }
    #usersProfile.users--profile--container .user--top--info{
        padding: 22px 0 10px ;
    }
    #messages.messages--container .messages--bottom--form{
        position: fixed;
        bottom: 50px;
        left:0;
        width:100%;
        padding:10px 15px; 
    }
    #messages.messages--container .chat--emojis--box{
        position: fixed;
        bottom:109px;
    }
    .messages--side .mobile--users--sidedrawer{
        position: fixed;
        top:0px;
        height:100vh;
        width:70%;
        right:0;
        padding-top: 13px;
        z-index:1800;
        background-color: rgba(255, 255, 255,0.99);
        border-left:1px solid rgb(167, 166, 166);
    }
    .auth--footer--container  .auth--copyright{
        width:90%;
    }
    .mobile--msgs--menu:hover{
        opacity: 1;
    }
    #messages.messages--container .messages--chatbox--body{
        height:65%;
        overflow-y:auto;
    }
    #messages .messages--view--users ul li .messages--user--info{
        width:100%;
    }
    #messages .desktop-comp{
        padding-top:0;
    }   
    .messages--desktop--card{
        border:none;
    }
    .post--card--container{
        padding-bottom:0px;
    }
    .desktop-comp{
        padding-bottom:50px;
        min-width: 100%;
    }
    #usersProfile.users--profile--container .desktop--social--row p{
        margin-right:5px;
        font-size:13px;
        font-weight:600;
    }
    #usersProfile.users--profile--container .desktop--social--row p span{
        font-weight:700;
        width:100%;
        text-align:center;
    }
    .auth--main{
        padding-bottom:50px;
    }
    .auth--footer--ul {
        display:grid !important;
        grid-template-columns: repeat(2, 1fr);
        list-style:none;
        align-items:center;
        align-content: center;
        gap: 2vw;
    }
    .usersModal--container, .comments--modal--container{
        top:0;
        left:0;
        transform: translate(0);
        width:100%;
        height:100%;
        max-height:100%;
    }
    .usersModal--container{
        position:fixed;
        z-index: 5100;
    }
    .reels--ul{
        padding: 0 0 0 10px;
    }
    .reels--ul li{
        margin-right: 15px;
    }
    .usersModal--inner{
        margin:0;
    }
    .empty--posts--container h3{
        font-size:19px;
    }
    .usersModal--inner .usersModal--card, #commentsModal.comments--modal--container{
        border-radius:0;
        height:100vh;
        width:100%;
    }
    #usersProfile.users--profile--container .desktop-comp{
        padding-top:7px !important;
    }
    #usersProfile.users--profile--container, .post--comments--layout{
        padding-bottom:40px;
    }
    #usersProfile.users--profile--container .users__profile__image{
        height: 160px;
    }
    /* #commentsModal.comments--modal--container{
        position:static !important;
    } */
    /* #commentsModal .comments--modal--container .comments--modal--card{
        width:100%;
        border-radius:0;
        height:100vh;
        max-height:auto;
    } */
    #commentsModal.comments--modal--container .comments--modal--card {
        position:relative;
        max-height:90%;
        width:100%;
    }
    #commentsModal.comments--modal--container .comments--modal--card .post--bottom--comment--adding{
        bottom:100px;
        background-color:#fff;
    }
    #commentsModal.comments--modal--container .comments--modal--card .comments--modal--inner{
        height:100%;
    }
    
}

/* ---------Query less than or equal 9300px------------ */
@media only screen and (max-width:930px){
    .desktop-comp{
        padding:0;
    }
    #usersProfile.users--profile--container .users--action--row{
        flex-direction: column;
        flex-wrap: wrap !important;
    }
    .auth--review--pic{
        display:none;
    }
    #usersProfile.users--profile--container .users--profile--posts{
        gap:2px;
    }
}
@media only screen and (min-width:1160px){
    #usersProfile .desktop-comp, #explore .desktop-comp{
        max-width: 935px !important;
        padding-top:10px;
        margin-left:auto; 
        margin-right:auto;
    }

}
@media only screen and (min-width:760px){
    .messages--view--users{
        max-height: 70vh;
    }
}
@media only screen and (max-width:930px) and (min-width: 670px){
    .auth--footer--container{
        justify-content: center;
    }
}
/* ---x------Query less than or equal 9300px---x--------- */

/* ----x-- keyframes --x--- */
@keyframes fakeLoading {
    0% {
        width:0;
    }
    10% {
        width:10%;
    }
    30% {
        width:30%;
    }
    50% {
        width:50%;
    }
    70% {
        width:70%;
    }
    80% {
        width:80%;
    }
    100% {
        width:100%;
    }
}