#home.main--home--container{
    background-color:var(--light-gray);
    min-height: calc(100vh - 10px);
}
#home.main--home--container .main--home--inner{
    display:flex;
    gap:10px;
    flex-direction: row;
    justify-content:center;
    flex-wrap:wrap;
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    min-width:1000px;
}
#home.main--home--container .home--posts--side, #home.main--home--container .home--sider{
    width:100%;
    overflow-x:auto;
}
.home--sider::-webkit-scrollbar{
    width:10px;
}
.home--sider::-webkit-scrollbar-thumb{
    width:10px;
    background-color: var(--second--gray);
    border-radius:5px;
}
#home.main--home--container .home--posts--side{
    margin:0 20px 20px 0;
    padding-right:40%;
    width:100%;
}
.side--user--info h5,svg {
    cursor:pointer;
}
#home.main--home--container .home--posts--side #post.post--card--container{
    margin-bottom:60px;
}
#home.main--home--container .home--sider{
    position:fixed;
    right:0;
    top: 88px;
    left:60%;
    height:80%;
    z-index:90;
    width:40%;
    overflow-y: auto;
    overflow-x: hidden;
}
#home.main--home--container .home--sider::-webkit-scrollbar{
    display: none;
    width: 0;
}
.side--user--info{
    align-items: center;
    margin-left:18px;
    padding-top:60px;
}
.side--user--info h5{
    margin-left:10px;
    font-size:16px;
    margin-bottom:0;
    text-transform :none;
    align-items:center;
    text-overflow: ellipsis;
    color: var(--main-black);
}
.side--user--info small{
    font-size: 12px;
    font-weight: 400;
    color: #8e8e8e;
    line-height: 14px;
    margin: 2px 5px 2px 9px;
}
.instagram__embed{
    max-width: 80%;
}
#home.main--home--container .suggestions--home--container{
    margin:20px 0;
    padding:0px 10px;
}
#home.main--home--container .suggestions--header{
    justify-content:space-between;
    align-items:center;
    margin-bottom:5px;
}
#home.main--home--container .suggestions--header h6{
    color: #8e8e8e;
    color: rgb(142, 142, 142);
    font-size:14px;
    font-weight:600;
    line-height: 18px;
    display:block;
}
#home.main--home--container .suggestions--header button{
    border:none;
    padding:1px 4px;
    background-color: transparent;
    text-transform: uppercase;
    font-size:11px;
    font-weight:bold;
}
#home.main--home--container .loading__card{
    height:350px;
}
#home.main--home--container .suggestions--home--container .suggestions--list .side--user--info{
    padding:0;
    margin:0;
}
#home.main--home--container .suggestions--header button:focus{
    outline:none;
}
#home.main--home--container .suggestion--item{
    justify-content:space-between;
    align-items:center;
}
/* #home.main--home--container .suggestions--list{
    margin:20px auto;
    padding:10px;
} */
#home.main--home--container .suggestions--list ul{
    list-style:none;
    padding:0;
}
#home.main--home--container .suggestions--list ul li{
    margin-bottom: 13px;
}
#home.main--home--container .loading--skeleton--home{
    width:300px;
}
@media only screen and  (max-width:670px){
    #home.main--home--container .main--home--inner{
        flex-direction: column;
    }
    #home.main--home--container{
        padding: 55px 0 0 0;
        background: #fff;
    }
    .post--card--container{
        position: relative;
        width:100%;
        height:100%;
        scroll-snap-align:start;
    }
    .post--card--article{
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    #home.main--home--container .home--posts--side{
        margin:6px 0 35px 0;
        padding:0 !important;
        max-width:100%;
        align-items:auto;
        overflow: scroll;
        scroll-snap-type: y mandatory;
        /* height: 100vh; */
        position: relative; 
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    #home.main--home--container .home--posts--side::-webkit-scrollbar{
        display:none;
        width:0;
    }
    #home.main--home--container .home--sider{
        position:static;
        width:100%;
        top:0;
        z-index:400;
        padding:0;
    }
    .instagram--embed--container{
        padding:10px;
    }
    .instagram__embed{
        max-width:100% !important;

    }
    .side--user--info , #home.main--home--container{
        padding-top: 0 !important;
    }
    #home.main--home--container .desktop-comp{
         padding: 0 !important;
    }
    #home.main--home--container .suggestions--home--container{
        padding:1px 20px;
    }
    #home.main--home--container .home--posts--side #post.post--card--container{
        margin-bottom:3px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 930px){
    #home.main--home--container .main--home--inner{
        flex-direction: column ;
        min-width: 90%;
    }
    #home.main--home--container .home--sider{
        position:static;
        padding-left: 20px;
    }
    #home.main--home--container .home--posts--side{
        margin:0 auto 20px auto;
        padding-right:0;
        align-items:center;
    }
    #home.main--home--container .suggestions--home--container{
        width:100%;
        max-width: 100%;
    }
    #home.main--home--container .home--sider{
        position:static;
        width:80%;
        top:0;
        z-index:400;
    }
}
@media only screen and (min-width: 740px){
    #home.main--home--container .suggestions--home--container{
        width:70%;
    }

}