#homeReels{
    position: relative;
    display:block;
    width: 100%;
    padding: 10px 0;
    background-color: var(--white);
    border: 1px solid var(--gray);
    margin-bottom: 24px;
    border-radius: 3px;
    margin-top:0;
    max-width: 614px;
    overflow: hidden !important;
    white-space: nowrap;
    .home--reels--deck{
        position: relative;
            .home--reels--scroll--arrows{
            position: absolute;
            height: 100%;
            width: 100%;
            top:50%;
            left:0;
            .home--reel--left--arrow, .home--reel--right--arrow{
                top:-30%;
                position: absolute;
                background: 0 0;
                border:none;
                width:35px;
                height:40px;
                cursor:auto;
                &:focus{
                    outline:none;
                }
                svg{
                    filter: drop-shadow(0 0px 10px rgba(0,0,0,0.4));
                    width: 27px;
                    height: 27px;
                    color: #fff;
                }
            }
            .home--reel--left--arrow{
                left:3px;
            }
            .home--reel--right--arrow{
                right:3px;
            }
        }
    }

    .home--reels--box, .home--reels--inner, .home--reels--ul{
        overflow: hidden;
        white-space: nowrap;
    }
        .home--reels--ul{
            box-shadow: inset -5px 0 5px -5px rgba(0,0,0,0.2);
            width:100%;
                overflow-x:auto;
                overflow-y: hidden;
                max-width: 100%;
                align-items:center;
                padding-left:18px;
                margin-bottom:0;
                min-height: 50px;
                align-content: flex-start;
                transition: all 0.5 ease-in;
                &::-webkit-scrollbar{
                    width:0;
                    display: none;
                };
                white-space: nowrap;
            .home-reel-item{
                margin-right:8px;
                cursor: pointer;
                .home-reel-container{
                    justify-content:center;
                    align-items: center;
                    .home--reel--user--name{
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        max-width: 74px;
                        letter-spacing: 0.0.1em;
                        display:block;
                        font-size: 12px;
                        font-weight:400;
                        text-align:center;
                    }
                }
        }
    }
   
    @media only screen and (max-width: 670px){
        margin:0;
    }
}