#homeReels{
    display:block;
    width: 100%;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid var(--gray);
    border: 1px solid rgb(219, 219, 219);
    margin-bottom: 24px;
    border-radius: 3px;
    margin-top:0;
    max-width: 614px;
    overflow: hidden !important;
    white-space: nowrap;
    .home--reels--box, .home--reels--inner, .home--reels--ul{
        overflow: hidden;
        white-space: nowrap;
    }
        .home--reels--ul{
            box-shadow: inset -5px 0 5px -5px rgba(0,0,0,0.2);
            width:100%;
                overflow-x:auto;
                overflow-y: hidden;
                max-width: 100%;
                align-items:center;
                padding-left:18px;
                margin-bottom:0;
                min-height: 50px;
                align-content: flex-start;
                transition: all 0.5 ease-in;
                &::-webkit-scrollbar{
                    width:0;
                    display: none;
                };
                white-space: nowrap;
            .home-reel-item{
                margin-right:8px;
                cursor: pointer;
                .home-reel-container{
                    justify-content:center;
                    align-items: center;
                    .home--reel--user--name{
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow:ellipsis;
                        max-width: 74px;
                        letter-spacing: 0.0.1em;
                        display:block;
                        font-size: 12px;
                        font-weight:400;
                        text-align:center;
                    }
                }
        }
    }
   
    @media only screen and (max-width: 670px){
        margin:0;
    }
}