#header.main--header {
    width:100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:300;
    margin:0;
    background-color:var(--white);
    border-bottom: 1px solid var(--gray);
    align-items:center;
    padding:6px var(--padding-sides);
    height:70px;
    transition: height 0.5s ease-in, background 0.4s linear, border 0.4s linear;
}
#header.main--header .header--inner .header--logo--box{
    align-items:center;
    cursor: pointer;
}
#header.main--header .header--inner .header--logo--box .logo--verti--divider{
    width: 1.2%;
    height: 27px;
    border-right: 1px solid var(--light-black);
    margin-right: 13px;
}
#header.main--header .header--inner .header--logo--box .ig--logo--img{
    width: 30px;
    height:30px;
    margin-right: 13px;
}
#header.main--header .header--inner .header--logo--box .ig--logo--img img{
    width: 100%;
    min-height: 100%;
    object-fit: contain;
   
}
.shorter_header{
    height: 54px !important;
}
.header--inner{
    justify-content:space-between;
    width: 100%;
    max-width:1200px;
    position: relative;
    align-items:center;
    margin: 0 auto;
}
.header--inner a{
    text-decoration:none;
}
.search--bar--container{
    position: relative;
    min-width:125px;
    width: 215px;
    flex: 0 1 auto;
    height:28px;
}
.search--bar--container .search__input{
    border: 1px solid var(--gray);
    -webkit-appearance: none;
    background-color: var(--light-gray);
    font-size: 14px;
    width:100%;
    border-radius:3px;
    outline: 0;
    padding: 3px 10px 3px 26px;
    z-index:2.5;
    height:100%;
    color:var(--font-black);
    transition: background 0.3s linear;
}
#header ::-webkit-input-placeholder, #header ::placeholder,#header ::-webkit-input-placeholder {
    text-align:center;
    margin-left: 12px;
    color: var(--second--gray)
}
.search--bar--container .search__icon{
    font-size:13px;
    color: var(--second--gray);
    margin-right: 7px;
    position: absolute;
    z-index: 2;
    top: 4px;
    left:7px;
}

.search--bar--container .clear--search--box, .loading--search--box{
    position: absolute;
    top:4px;
    right:4px;
    z-index:2;
    color: var(--second--gray);
    font-size:20px;
    width: 20px;
    height: 20px;
}
#header .compass__explore__icon{
    font-size: 27px;
}
.search--bar--container .clear--search--box{
    z-index:1000;
}
.search--bar--container .loading--search--box{
    z-index: 20;
}
#profilePopup .noti--popup--inner{
    max-height:auto;
    min-height:auto; 
    width:220px!important;
}

#profilePopup.noti--popup--window{
    right:-10px !important;
    top:45px;
    width: 220px;
}
#header.main--header #profilePopup .noti--popup--inner{
    overflow: visible;
}
#profilePopup.noti--popup--window .noti--popup--arrow{
    top:-8.5px;
    right: 24px;
}
#profilePopup.noti--popup--window .noti--popup--inner .prof--popup--ul{
    list-style:none;
    padding:1px 0;
    justify-content:center;
    width: 100%;
}
#profilePopup .prof--popup--ul li{
    font-size:14px;
    margin-bottom:1px;
    padding:8px 0;
    font-weight:400;
    width:100%;
    text-align:center;
    overflow:hidden;
    z-index: 700;
}
#profilePopup .prof--popup--ul a{
   
    text-decoration: none;
    padding: 0;
    border-bottom: 1px solid#ebebeb;
}
#profilePopup .prof--popup--ul li:hover{
    background-color: var(--light-gray);
}
#profilePopup .prof--popup--ul > *:last-child{
    border-bottom:none;
}
#profilePopup .prof--item--inner{
    padding:1px 16px;
    align-items:center;
    width:100%;
}
.prof__popup{
    margin-right:6px;
    font-size:23px;
    text-decoration: none;
}
.noti--popup--arrow, .search--popup--arrow{
    position: absolute;
    width:14px;
    height:14px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 1px solid var(--shadow-white);
    border-top: 1px solid var(--shadow-white);
    background-color:var(--white);
    z-index:9;
}
.noti--popup--window, .search--pop--window{
    position: absolute;
    border-radius:6px;
    background:var(--white);
    z-index:400;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.0979);
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.0979);
    transform-origin: top center;
    -webkit-transform-origin: top center;
}
.darkMode .noti--popup--window, .darkMode .search--pop--window, .snorkelBlue .noti--popup--window, .snorkelBlue .search--pop--window, .blueIzis .noti--popup--window, .blueIzis .search--pop--window, .icedCoffee .noti--popup--window, .icedCoffee .search--pop--window, .honeysucle .noti--popup--window, .honeysucle .search--pop--window, .butterCup .noti--popup--window, .butterCup .search--pop--window{
    box-shadow: 0 0 5px 1px var(--shadow-white);
}
#notifications .noti--popup--arrow{
    top:-8.5px;
    left: 459px;
}
.search--popup--arrow{
    top:-8px;
    left: 195px;
}
.search--pop--window{
    top:40px;
    right:-100px;
}
.search--pop--window ul.noti--popup--ul{
    max-height:360px;
    overflow-y: auto;
    overflow-x: hidden;
}
#notifications .noti--popup--window{
    top:45px;
    right:30px;
}
.empty--box{
    align-items: center;
    justify-content:center;
    text-align:center;
    padding:15px;
    color:var(--second--gray);
    height: 100%;
    width: 100%;
    min-height: 90px;
}
.empty--box h4{
    font-size:14px;
    font-weight: 400;
    margin-bottom:0px;
}
#header .search--result--item{
    width:100%;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
#header .search--result--item:hover{
    background-color: var(--light-gray);
}
#header .search--item--inner{
    padding: 8px 16px;
    align-items:center;
}
#header.main--header .noti--popup--inner, #header.main--header .search--popup-inner{
    overflow: hidden  auto;
    position: relative;
    z-index: 2000; 
    max-height:360px;
    min-height:80px;
}
#header.main--header .noti--popup--window .search--popup-inner{
    height: 362px;
    width:375px;
}
#header.main--header .verified_icon{
    font-size: 12px;
}
#header.main--header .user--search--name{
    color:var(--font-black);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: inline;
    margin-bottom:2px;
    padding-right: 2px;
}
#header.main--header .user--search--info{
    color:var(--second--gray);
    font-size:14px;
    font-weight:400;
    line-height: 18px;
    margin: -3px 0 -4px;
}
#header.main--header .search--popup--inner{
    width:400px;
}
#header.main--header .noti--popup--inner{
    width:500px;
}
#header.main--header .search--user--img{
    margin-right: 10px;
}
.noti__transparent{
    background:linear-gradient(to top,var(--white), rgba(230, 228, 228, 0.05));
    width:100%;
    height:20px;
    position: absolute;
    bottom:0;
    left:0;
    border-radius:20px;
}
.noti--popup--ul{
    padding:1px 0;
    margin-bottom: 0;
    min-height: 100px;
    overflow-x: hidden;
}
.noti--popup--inner .noti--popup--ul .noti--popup-item {
    padding:12px 11px 12px;
    white-space:normal;
    align-items:center;
    position:relative;
    width:100%;
}
.requests--button.noti--popup-item{
    padding:17px 17px 11px;
}

.noti--popup--inner .noti--popup--ul .noti--popup-item .noti__user__img .MuiAvatar-root{
    width:34px;
    height:34px;
}
.noti--popup-item .noti--user--info{
    margin-left:10px;
    width: 90%;
}
.noti--popup-item .noti--user--info h6{
    font-size: 14px;
    font-weight:600;
    line-height: 18px;
    margin-bottom:0;
}
p.noti__text{
    width:100%;
    font-weight:400;
    line-height: 18px;
    font-size: 14px;
    word-break: break-word;
    margin-bottom:0;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}
.like__icon__item{
    position: relative;
}
.like__icon__item .like__noti__dot{
    position: absolute;
    top:30px;
    left:50%;
    transform: translate(-50%,-50%);
    margin-left:1px;
    background: rgb(237, 73, 86);
    width:5px;
    height:5px;
    border-radius:50%;
}
.noti--user--info .noti--action{
    font-size: 14px;
    margin-left:10px;
    padding:5px;
}
.noti--user--info .noti__time, #messages .messages__user__date{
    font-size:11px !important;
    font-weight:800;
    color:var(--second--gray);
    flex:0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#messages p.messages__user__date .messages__user__date__divider{
    color: var(--light-black);
}
.header--nav .header__user__avatar{
    width:25px;
    height:25px;
    justify-content: center;
}
.header--nav .header__user__avatar svg{
    margin:0 auto;
}
.header--nav {
    align-items:center;
}
.header--nav .header--ul{
    margin:0;
    padding:0;
    list-style: none;
    align-items:center;
    position:relative;
    user-select: none;
}
.header--nav .header--ul li{
    margin-right:10px;
    transition: transform 0.3s ease;
    font-size:23px;
    cursor:pointer;
    display:flex;
    align-items:center;
}
#header .header--nav .header--ul li svg{
    transition: all 0.2s ease-in;
}
#profilePopup .prof--item--inner svg{
        font-size: 21px;
}
#header .header--nav .header--ul li svg:hover{
    color: var(--font-black);
}   
.header--ul li svg:active{
    transform: scale(0.97);
}
.header--nav .header--ul li a:visited,.header--nav .header--ul li a{
    color: var(--main-black);
}
.header--nav .header--ul li a:active{
    background-color: rgba(211, 225, 233, 0.4);
    border-radius: 5px;
}
.active--profile--nav img{
    border:2px solid rgb(29, 29, 29);
    border-radius: 50%;
}
.hidden--backdrop{
    position:fixed;
    width:100%;
    height: 100vh;
    z-index:100;
    left:0;
    top:0;
    padding:0;
    margin:0;
}
.header--ul li .active-nav-link svg{
    color: var(--secondary-clr) !important;
}
/* --------------Mobile Nav------------- */
#mobNav.mobile--nav{
    display:none;
    position: fixed;
    bottom:0;
    margin:0;
    width:100%;
    left:0px;
    z-index:5000;
    background-color:var(--white);
    border-top: 1px solid var(--mobile-border-clr);
    align-items:center;
    height:50px;
}


/* --------x------Mobile Nav------x------- */

@keyframes disappear-item {
  to {display: none;}
}
@media only screen and (max-width:670px){
    .noti--popup--inner .noti--popup--ul .noti--popup-item{
        padding: 17px 14px 11px;
    }
    #mobNav.mobile--nav .header--nav .header--ul{
     justify-content: space-around;
     flex:1;
     width:100%;
    }
    #mobNav.mobile--nav .header--ul li{
        padding: 0px;
    }
    #mobNav.mobile--nav .header--ul li:active{
        background-color: rgba(211, 225, 233, 0.8);
        border-radius: 5px;
    }
    #mobNav.mobile--nav .header--ul li a{
        padding: 13px 15px;
    }
    #mobNav.mobile--nav .header--nav .header--ul li{
        margin:0;
    }
    #mobNav.mobile--nav .header--nav{
        width: 100%;
        max-width:350px;
        margin:0 auto;
        align-items:center;
    }
    #header.main--header, .noti--popup--window, .search--pop--window{
        display: none !important;
    }
    #mobNav.mobile--nav{
        display: flex;
    }
    .like__icon__item .like__noti__dot{
        top:37px;
    }
}
@media only screen and (max-width:900px){
    .noti--popup--inner{
        max-height:auto ;
    }
    .ig--logo--img, .logo--verti--divider{
        display:none;
    }
}
@media only screen and (min-width:800px){
    .header--inner{
        max-width: 975px;
    }
    .header--nav .header--ul li a, .noti--parent--container{
        padding:5px 8px;
    }   
    #header.main--header{
        padding:6px 30px;
    }
}