#profilePosts{
    .increase--posts--count{
        width: 100%;
        margin-top:15px;
        padding:15px 0;
        align-items:center;
        justify-content: center;
        min-height: 32px;
        img{
            width: 32px;
            height: 32px;
        }
    }
}