#explore.explore-container{
    @media only screen and (min-width:1160px){
        .desktop-comp{
            max-width: 935px !important;
            padding-top:30px;
            margin-left:auto; 
            margin-right:auto;
        }
    
    }
}