#explore.explore-container{
    background-color: var(--light-gray);
   .explore--options--btn{
       display: block;
       width: 100%;
       button{
           float:right;
           border:none;
           background: transparent;
           padding:3px 10px;
           font-size:25px;
           color: var(--second--gray);
           cursor: pointer;
           margin-bottom: 10px;
           transition: var(--mild-transition);
           @media only screen and (max-width: 670px){
               font-size: 24px;
               margin-top:5px;
           }
           &:hover{
               color: var(--ultimate-black);
           }
           &:active{
               background-color: rgba(172, 223, 243, 0.7);
               border-radius: 6px;
           }
           &:focus{
               outline:0;
           }
       }
   }
    .explore--upper--row{
        margin-bottom:25px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 25px;
        .explore--upper--row--item, .users__profile__image{
                max-height: 500px;
                width: 100%;
                @media only screen and (max-width: 670px){
                    height: auto;
                }
        }
      
    }
    @media only screen and (min-width:1160px){
        .desktop-comp{
            max-width: 935px !important;
            margin-left:auto; 
            margin-right:auto;
        }
    
    }
}
.ReactModal__Content{
    width: 400px;
    z-index: 5800;
    h2{
        align-items: center;
        font-size:20px;
        font-weight: 600;
    }
    form{
        margin-top:10px;
        #input--form--field .form-group{
            width: 100%;
            label {
                margin: 10px 20px 0 0;
                width: 160px;
                display: inline-block;
                flex: 1 0 150px;
            }
            .form--input--side{
                flex:1 75%;
                width:auto;
            }
        }
        .explore__modal__btns{
            margin-top: 6px;
            width: 100%;
            align-items: center;
            justify-content: flex-end;
            .explore__close__btn{
                padding:2px 9px;
                margin-right: 10px;
                border: 1px solid rgb(53, 53, 53);
                border-radius: 4px;
                transition: background-color 0.3s linear;
                &:hover{
                    background-color: var(--ultimate-black);
                    color: var(--white);
                }
            }
        }
    }
   

    @media only screen and (max-width: 670px){
        width: 90%;
        form #input--form--field .form-group label{
            flex: 0 0 0;
        }
       
    }
    
}