.desktopPost{
    width:880px;
    height:80%;
    max-width: 1000px;
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index:1500;
    align-items:center;
    justify-content: center;
    .d--post--container{
        width:100%;
        height:100%;
        align-items:center;
        position:relative;
        justify-content: center;
            .desktop__left__arrow, .desktop__right__arrow{
                position: absolute;
                top:50%;
                
                svg{
                    width:40px;
                    height:40px;
                    transition: all 0.2s linear;
                }
                cursor:pointer;
                display:block;
                
            }
            .desktop__left__arrow{
                left:0;
                align-self: flex-start;
                padding:20px 20px 20px 0;
            }
            .desktop__right__arrow{
               right:0;
               align-self: flex-end;
               padding:20px 0 20px 20px;
            }
            .d--post--box{
                background-color: #fff;
                width:90%;
                min-height: 300px;
                margin: 0 auto;
                .post--card--article{
                    width:100%;
                    height: 100%;
                    display: grid;
                    border:none !important;
                    grid-template-columns: 55% 45%;
                    .desktop--left, .desktop--right{
                        height:100%;
                        @media only screen and (max-width: 670px){
                            height:50%
                        }
                    }
                    .post--comments--layout{
                        min-height:150px;
                        max-height:340px;
                        // height:150px;
                        overflow-y:auto !important;
                    }
                    .desktop--right{
                        position: relative;
                        background-color: #fff;
                        .post--card--header{
                            height:72px;
                            padding:16px;
                            width:335px;
                            border-bottom:1px solid #efefef;
                        }
                        .post--card--footer {
                            position:absolute;
                            bottom:0;
                            left:0;
                            width:100%;
                            border-top:1px solid #efefef;
                        }
                        .post--comments--layout{
                            padding: 10px;
                        }
                    }
                    @media only screen and (max-width: 670px){
                        grid-template-columns: 100% 100%;
                    }
                    
                }
            }
    }
    .post--modal--close{
        position: absolute;
        top: 0px;
        right:0px;
        font-size: 30px;
        font-weight: bold;
        cursor: pointer;
        z-index:1500;
        padding: 1px 8px;
    }
    .d--post--container .desktop__left__arrow svg, .d--post--container .desktop__right__arrow svg, .post--modal--close{
        color: rgb(232, 231, 231);
        opacity: 0.9;
        transition: color 0.2s linear;
        &:hover{
            color: #fff;
        }
    }
}
