.desktopPost {
  width: 855px;
  height: 80%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desktopPost .d--post--container {
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.desktopPost .d--post--container .desktop__left__arrow, .desktopPost .d--post--container .desktop__right__arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  display: block;
}

.desktopPost .d--post--container .desktop__left__arrow svg, .desktopPost .d--post--container .desktop__right__arrow svg {
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.desktopPost .d--post--container .desktop__left__arrow {
  left: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 20px 20px 20px 0;
}

.desktopPost .d--post--container .desktop__right__arrow {
  right: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 20px 0 20px 20px;
}

.desktopPost .d--post--container .d--post--box {
  background-color: var(--white);
  width: 90%;
  min-height: 300px;
  margin: 0 auto;
}

.desktopPost .d--post--container .d--post--box .post--card--article {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  border: none !important;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.desktopPost .d--post--container .d--post--box .post--card--article .desktop--left, .desktopPost .d--post--container .d--post--box .post--card--article .desktop--right {
  height: 100%;
}

@media only screen and (max-width: 670px) {
  .desktopPost .d--post--container .d--post--box .post--card--article .desktop--left, .desktopPost .d--post--container .d--post--box .post--card--article .desktop--right {
    height: 50%;
  }
}

.desktopPost .d--post--container .d--post--box .post--card--article .post--comments--layout {
  min-height: 150px;
  max-height: 340px;
  overflow-y: auto !important;
}

.desktopPost .d--post--container .d--post--box .post--card--article .desktop--right {
  position: relative;
  background-color: var(--white);
}

.desktopPost .d--post--container .d--post--box .post--card--article .desktop--right .post--card--header {
  height: 72px;
  padding: 16px;
  width: 335px;
  border-bottom: 1px solid var(--shadow-white);
}

.desktopPost .d--post--container .d--post--box .post--card--article .desktop--right .post--card--footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid var(--shadow-white);
}

.desktopPost .d--post--container .d--post--box .post--card--article .desktop--right .post--comments--layout {
  padding: 10px;
}

@media only screen and (max-width: 670px) {
  .desktopPost .d--post--container .d--post--box .post--card--article {
    -ms-grid-columns: 100% 100%;
        grid-template-columns: 100% 100%;
  }
}

.desktopPost .post--modal--close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1500;
  padding: 1px 8px;
}

.desktopPost .d--post--container .desktop__left__arrow svg, .desktopPost .d--post--container .desktop__right__arrow svg, .desktopPost .post--modal--close {
  color: #e8e7e7;
  opacity: 0.9;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.desktopPost .d--post--container .desktop__left__arrow svg:hover, .desktopPost .d--post--container .desktop__right__arrow svg:hover, .desktopPost .post--modal--close:hover {
  color: var(--white);
}
/*# sourceMappingURL=DesktopPost.css.map */