.post--modal--close{
    position: fixed;
    top: 2%;
    right:7%;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index:1800;
    padding: 10px 8px;
    &:active{
        background-color: rgba(45, 86, 129,0.1);
        border-radius: 5px;
    }
}
.desktopPost{
    width:1100px;
    height:90%;
    max-width: 1150px;
    position:fixed;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    z-index:1500;
    align-items:center;
    justify-content: center;
    @media only screen and (max-width:670px){
        width: 100%;
        height: 100%;
    }
    @media only screen and (min-width:670px) and (max-width: 940px){
        width: 95%;
    }
    $bg: radial-gradient(circle at 30% 107%, rgba(253, 244, 151,0.3) 1%,rgba(255, 198, 63,0.3) 10% , rgba(253, 51, 88,0.3) 45%,rgba(189, 54, 217,0.3) 60%);
    .desktop--left{
        min-height: 570px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 1px solid var(--shadow-white);
        background: $bg;
        .post__card__content{
            object-fit: contain !important;
            position: relative;
            background: $bg;
        }
        .audio--content.post__card__content__middle{
            padding-bottom: 0px ;
        }
    }
           
    .d--post--container{
        width:100%;
        height:100%;
        align-items:center;
        position:relative;
        justify-content: center;
            .desktop__left__arrow, .desktop__right__arrow{
                position: absolute;
                top:50%;
                svg{
                    width:40px;
                    height:40px;
                    transition: all 0.2s linear;
                }
                cursor:pointer;
                display:block;
            }
            .desktop__left__arrow{
                left:0;
                align-self: flex-start;
                padding:20px 20px 20px 0;
            }
            .desktop__right__arrow{
               right:0;
               align-self: flex-end;
               padding:20px 0 20px 20px;
            }
            .d--post--box{
                background-color: #fff;
                width:90%;
                height: 570px;
                // max-height: 570px;
                margin: 0 auto;
                .post--card--article{
                    background-color: var(--white);
                    width:100%;
                    height: 570px;
                    display: grid;
                    border:none !important;
                    grid-template-columns: auto 36%;
                    .desktop--left, .desktop--right{
                        height:100%;
                        @media only screen and (max-width: 670px){
                            height:50%;
                        }
                    }
                    .desktop--right{
                        height: 100%;
                        width: 100%;
                        max-width: 360px;
                        position: relative;
                        background-color: var(--modal-clr);
                        .post--card--header{
                            height:72px;
                            padding:16px;
                            width:100%;
                            border-bottom:1px solid var(--shadow-white);
                        }
                        .post--card--footer {
                            position:absolute;
                            bottom:0;
                            left:0;
                            width:100%;
                            border-top:1px solid var(--shadow-white);
                        }
                        .post--comments--layout{
                            height:320px;
                            overflow-y:auto !important;
                            padding:10px 3px 20px;
                            .post--comment--item .comment__text{
                                @media only screen and (max-width: 900px) {
                                    display: flex;
                                    flex-direction: column;
                                }
                            }
                        }
                    }
                    @media only screen and (max-width: 780px){
                        grid-template-columns: 100% 100%;
                    }
                    
                }
            }
    }

    
}
.desktopPost .d--post--container .desktop__left__arrow svg,.desktopPost .d--post--container .desktop__right__arrow svg, .post--modal--close{
        color: rgb(232, 231, 231);
        opacity: 0.9;
        transition: color 0.2s linear;
        &:hover{
            color: var(--white);
        }
    }